<?php $block->renderFileLessToCss(); ?>
<div id="lucian_header123" class="header-container">
	 
		<div class="container-inner">
			<div class="top-link">
				<div class="container">
					<div class="container-inner">
						 
						<div class="box-setting hidden-sm hidden-xs">
							<?php echo $this->getChildHtml("store_switcher"); ?>
							<?php echo $this->getChildHtml("store_language"); ?>
							<?php echo $this->getChildHtml("currency"); ?>
							<?php echo $this->getChildHtml("header.links"); ?>
						</div>
						<ul class="welcome-text">
							<?php echo $this->getChildHtml("header"); ?>
						</ul>	 
						 
					</div>
				</div>
			</div>
			
			<div class="header-inner">
				<div class="container">
					<div class="container-inner">
						
						<div class="box-menu-content">
							<div class="container-fluid">
								<div class="container-inner">
									<div class="row">
										<div class="col-logo col-md-2 col-sm-12 col-xs-12">
											<div class="logo-home">
												<?php echo $this->getChildHtml("logo"); ?>
											</div>
										</div>
										<div class="col-content col-md-10 col-sm-12 col-xs-12">
											<ul class = "tabs-mobile hidden-lg hidden-md">
												<li class="item item-menu"><?php /* @escapeNotVerified */ echo __('Menu'); ?></li>
												<li class="item item-account"><?php /* @escapeNotVerified */ echo __('Account'); ?></li>
												<li class="item item-setting"><?php /* @escapeNotVerified */ echo __('Setting'); ?></li>
											</ul>
											
											<div class="tabs-content-mobile tabs-menu hidden-lg hidden-md">
												<?php echo $this->getChildHtml("mobilemenu"); ?>
												
											</div>
											<div class="tabs-content-mobile tabs-account hidden-lg hidden-md" style="display:none;">
												<?php echo $this->getChildHtml("header.links"); ?>
											</div>
											<div class="tabs-content-mobile tabs-setting hidden-lg hidden-md" style="display:none;">
												<?php echo $this->getChildHtml("currency_mobile"); ?>
												<?php echo $this->getChildHtml("store_language_mobile"); ?>
												<?php echo $this->getChildHtml("store_switcher_mobile"); ?>
											</div>
											
										</div>
										<div class="close-menu"><span><?php /* @escapeNotVerified */ echo __('close'); ?></span></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="logo-home">
							<div class="open-menu hidden-lg hidden-md" title="<?php /* @escapeNotVerified */ echo __('Open Menu'); ?>"><span><?php /* @escapeNotVerified */ echo __('menu'); ?></span></div>
							<?php echo $this->getChildHtml("logo"); ?>
						</div>
						<div class="hozmenu hidden-sm hidden-xs">
							<?php echo $this->getChildHtml("hozmegamenu_top"); ?>
						</div>
						<div class="search-cart">
							<div class="box-cart">
								<?php echo $this->getChildHtml("minicart");?>
								<div class="miniwishlist"><a href="<?php  echo $this->helper('Magento\Wishlist\Helper\Data')->getListUrl(); ?>"><span class="qty"><?php echo $this->helper('Magento\Wishlist\Helper\Data')->getItemCount(); ?></span></a></div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
			<div class="top-menu ">
				<div class="container">
					<div class="container-inner">
						<div class="row">
							<div class="col-megamenu col-md-3 col-xs-12">
								<?php echo $this->getChildHtml("verticalmegamenu_top"); ?>
							</div>
							<div class="col-search col-md-9 col-xs-12">
								<?php echo $this->getChildHtml("top.search"); ?>
							</div>
						</div>
					</div>
				</div>
			</div>
			 
		</div>
	 
	<?php echo $this->getChildHtml("breadcrumbs");?>
	<?php echo $this->getChildHtml("page.main.title");?>
	<?php echo $this->getChildHtml("slider_group"); ?>
</div>

	
<script type="text/javascript">
require(["jquery"], function($){
	
	$(window).scroll(function () {
		if ($(this).scrollTop() > 250) {
			$('.header-container .header-inner').addClass("fix-header");
			
			} else {
			$('.header-container .header-inner').removeClass("fix-header");
			
		}
		
	});
});
</script>
<script type="text/javascript">
require(["jquery"], function($){
	$(document).ready(function(){
		$(".open-menu").click(function(){
			$(".box-menu-content").addClass('active');
		});
		$(".close-menu").click(function(){
			$(".box-menu-content").removeClass('active');
		});
		
		
		<!-- choose tabs-->
		$(".tabs-mobile .item-menu").addClass("active");
		$(".tabs-mobile .item").click(function(){
			$(".tabs-mobile .item").removeClass("active");
			$(this).addClass("active");
		});
		$(".tabs-mobile .item-menu").click(function(){
			$(".tabs-content-mobile").css("display","none");
			$(".tabs-menu").css("display","block");
		});
		$(".tabs-mobile .item-account").click(function(){
			$(".tabs-content-mobile").css("display","none");
			$(".tabs-account").css("display","block");
		});
		$(".tabs-mobile .item-setting").click(function(){
			$(".tabs-content-mobile").css("display","none");
			$(".tabs-setting").css("display","block");
		});
	});
	
	elementClick = '.toogle_click';
	elementSlide =  '.toogle_content';
	activeClass = 'active';

	$(elementClick).on('click', function(e){
		e.stopPropagation();
		var subUl = $(this).next(elementSlide);
		if(subUl.is(':hidden'))
		{
			subUl.slideDown();
			$(this).addClass(activeClass);
		}
		else
		{
			subUl.slideUp();
			$(this).removeClass(activeClass);
		}
		$(elementClick).not(this).next(elementSlide).slideUp();
		$(elementClick).not(this).removeClass(activeClass);
		e.preventDefault();
	});
	$(elementSlide).on('click', function(e){
		e.stopPropagation();
	});
	$(document).on('click', function(e){
		e.stopPropagation();
		var elementHide = $(elementClick).next(elementSlide);
		$(elementHide).slideUp();
		$(elementClick).removeClass(activeClass);
	});
});
</script>


