<div class="slider-group">
	<div class="container">
		<div class="container-inner">
			<div class="row">
				<div class="col col-md-offset-3 col-md-9 col-sm-12 col-xs-12">
					<?php echo $this->getLayout()->createBlock('Plazathemes\Bannerslider\Block\Bannerslider')->setTemplate('bannerslider.phtml')->toHtml();?>
				</div>
			</div>
		</div>
	</div>
</div>